<mat-sidenav-container class="absolute top-0 bottom-0 left-0 right-0">
    <mat-sidenav mode="side" opened>
        <div *ngFor="let navItem of navItems" class="flex justify-centerbg-slate-300 hover:bg-slate-600 hover:text-white">
            <button>
                <div class=" p-4">{{navItem?.title}}</div>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- flex flex-1 flex-col bg-slate-300 -->